$breakpoints: (
  "medium": 60rem,
  "small": 32rem,
);

@mixin medium {
  @media (max-width: map-get($breakpoints, "medium")) {
    @content;
  }
}
@mixin small {
  @media (max-width: map-get($breakpoints, "small")) {
    @content;
  }
}
header {
  @include small {
    margin-top: 4rem;
  }
}
.image-grid {
  @include medium {
    grid-template-columns: repeat(2, 1fr);
  }
  @include small {
    grid-template-columns: 1fr;
  }
  img {
    @include medium {
      width: 45vw;
      height: 45vw;
    }
    @include small {
      width: 80vw;
      height: 80vw;
    }
  }
}
footer {
  @include medium {
    padding: none;
  }
}
nav {
  padding-bottom: 1rem;
  ul {
    li {
      a {
        @include small {
          font-size: 15px;
        }
      }
    }
  }
}
