@import "reset";
@import "colors";
@import "index2style";
@import "index3style";
@import "mediaqueries";

body {
  font-family: "Open Sans", sans-serif;
  background-image: url(../img/maddy-baker-RwrWkPhRUj0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  margin-top: 3.5rem;
}

header {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);

  h1 {
    padding-top: 9rem;
    padding-bottom: 10rem;
    text-align: center;
    font-size: 3rem;
    color: $dark-green;
  }
}
#first-page-section {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);

  p {
    margin-top: 5rem;
    text-align: center;
    font-weight: bolder;
    padding: 5rem;
  }
}
footer {
  margin-top: 5rem;
  background-color: $light-green;
  font-weight: bolder;
  display: grid;
  grid-template-columns: auto auto;
  padding:2rem 0 1rem 0;

  .grid {
    display: grid;
    justify-self: center;
  }
  .icons {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
  }
  p {
    width: fit-content;
    margin: 0 auto;
    grid-area: 2/1/2/3;
    padding-top: 1rem;
  }
  li {
    padding: 0.5rem 0 0.5rem 0;
  }
  .footer-title {
    font-size: larger;
  }
  a {
    color: $dark;
  }
  a:hover {
    color: $dark-green;
  }
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  // padding: 1rem;
  background-color: $light-green;

  ul {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding:1rem;

    a {
      color: $black;
      font-weight: bold;
      font-size: 1.2rem;
    }
    a:hover {
      color: $dark-green;
    }
  }
}
button {
  padding:1.5rem 0 1rem 0;
  color:$dark;
  background-color: $light-green;
  border:solid 1px $dark-green;
  border-radius:25px;
  font-weight: 700;
  position: sticky;
  bottom:1rem;
  left:100%;
  top:80%;
 
a {
  padding:2rem;

}
.arrow {
  border: solid $dark;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
}
.up {
  transform: rotate(-135deg);
}
}